@import "tailwindcss";

body {
    margin: 0;
    padding: 0;
}

.Toastify__toast--success {
    background: #14532d !important;
    color: white !important;
}

.Toastify__toast--error {
    background: linear-gradient(135deg, #ef4444, #dc2626) !important;
    color: white !important;
}

.Toastify__toast--warning {
    background: linear-gradient(135deg, #f59e0b, #d97706) !important;
    color: white !important;
}

.Toastify__toast--info {
    background: #1e3a8a !important;
    color: white !important;
}

.Toastify__progress-bar {
    background: white !important;
}